<% unless @product.has_variants? %>
  <div data-hook="new_product_sku" class="alpha two columns">
    <%= f.field_container :sku do %>
      <%= f.label :sku, Spree.t(:sku) %><br />
      <%= f.text_field :sku, :size => 16, :class => 'fullwidth' %>
      <%= f.error_message_on :sku %>
    <% end %>
  </div>
<% end %>

<div data-hook="new_product_prototype" class="four columns">
  <%= f.field_container :prototype do %>
    <%= f.label :prototype_id, Spree.t(:prototype) %><br />
    <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'} %>
  <% end %>
</div>

<div data-hook="new_product_msrp" class="four columns">
  <%= f.field_container :price do %>
    <%= f.label :msrp, Spree.t(:msrp) %> <span class="required">*</span><br />
    <%= f.text_field :msrp, :value => number_to_currency(@product.msrp, :unit => ''), :class => 'fullwidth' %>
    <%= f.error_message_on :msrp %>
  <% end %>
</div>

<div data-hook="new_product_price" class="four columns">
  <%= f.field_container :price do %>
    <%= f.label :price, Spree.t(:master_price) %> <span class="required">*</span><br />
    <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => ''), :class => 'fullwidth' %>
    <%= f.error_message_on :price %>
  <% end %>
</div>

<div data-hook="new_product_available_on" class="omega two columns">
  <%= f.field_container :available_on do %>
    <%= f.label :available_on, Spree.t(:available_on) %>
    <%= f.error_message_on :available_on %>
    <%= f.text_field :available_on, :class => 'datepicker fullwidth' %>
  <% end %>
</div>
